* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #7075F4;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 33px 40px 37px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  text-transform: uppercase;
}

.header__nav {
  width: 44%;
}

.header__nav-list {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  list-style: none;
}

.header__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}

.header__link_simple::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-bottom: 2px solid #fff;
  width: 0;
  transition-property: left width;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.header__link_simple:hover::after {
  left: 0;
  width: 100%;
}

.header__dropdown-item {
  position: relative;
}

.header__angle-down {
  display: block;
  width: 14px;
  height: 18px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 7px);
  opacity: 0;
  transition-property: bottom opacity;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.header__link_dropdown:hover+.header__angle-down {
  bottom: -22px;
  opacity: 1;
}

.header__search-button {
  width: 23px;
  height: 23px;
  border: none;
  background-color: #7075F4;
  color: #fff;
  cursor: pointer;
}

.header__search-button>i {
  transform: scale(1.6);
}