* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.015em;
}

.header {
  background-color: #7075F4;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  text-transform: uppercase;
}

.header__nav {
  width: 44%;
}

.header__list {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  list-style: none;
}

.header__list-item {
  padding-top: 33px;
  padding-bottom: 37px;
  position: relative;
}

/****************************************/

.dropdown {
  position: absolute;
  top: 95px;
  left: -124px;
  padding: 18px 32px;
  background-color: #fff;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 50px 50px;
  list-style: none;
  display: flex;
  column-gap: 68px;
}

/* .dropdown__item {
  
} */

.dropdown__title {
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px solid #D9D9D9;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
}

.dropdown__link {
  display: block;
  margin-top: 8px;
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6F6F6F;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

.dropdown__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-bottom: 1px solid #6f6f6f;
  width: 0;
  transition-property: left width;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.dropdown__link:hover::after {
  left: 0;
  width: 100%;
}














/****************************************/

.header__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}

.header__link_simple::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-bottom: 2px solid #fff;
  width: 0;
  transition-property: left width;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.header__link_simple:hover::after {
  left: 0;
  width: 100%;
}

/* .header__angle-down {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 0;
}

.header__dropdown-item:hover .header__angle-down {
  height: 30px;
  padding-top: 8px;
} */

.header__search-button {
  width: 23px;
  height: 23px;
  border: none;
  background-color: #7075F4;
  color: #fff;
  cursor: pointer;
}

.header__search-button>i {
  transform: scale(1.6);
}